*{
    box-sizing: border-box;
}
.head{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.mahoa{
    display: flex;
    flex-direction: column;
}
.input{
    display: flex;
    flex-direction: row;
}
.giaima{
    display: flex;
    flex-direction: column;
}
.button{
    width: 150px;
    height: 60px;
}
.p{
    display: flex;
    flex-direction: row;
}
.key{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.banma{
    display: flex;
    flex-direction: row;
}
.banma1{
    display: flex;
    flex-direction: column;
}
